.main-nav {
  display: flex;
  justify-content: flex-end;
}

.main-nav__toggle {
  position: relative;
  z-index: 3;

  width: 60px;
  height: 45px;

  background-color: transparent;
  border: 0;

  font-size: 0;

  transform: scale(0.5);
  transition: all 500ms ease-out;

  cursor: pointer;

  span {
    display: block;

    position: absolute;
    left: 0;

    width: 100%;
    height: 9px;

    border-radius: 9px;

    background-color: #404040;

    opacity: 1;

    transform: rotate(0deg);
    transition: all 250ms ease-out;

    &:nth-child(1) {
      top: 0;
      transform-origin: left center;
    }

    &:nth-child(2) {
      top: 18px;
      transform-origin: left center;
    }

    &:nth-child(3) {
      top: 36px;
      transform-origin: left center;
    }
  }

  &:hover {
    span {
      background-color: #000;
    }
  }
}

.main-nav--opened .main-nav__toggle {
  span {
    background-color: #fff;

    &:nth-child(1) {
      top: -3px;
      left: 8px;

      transform: rotate(45deg);
    }

    &:nth-child(2) {
      width: 0%;
      opacity: 0;
    }

    &:nth-child(3) {
      top: 39px;
      left: 8px;

      transform: rotate(-45deg);
    }
  }
}

.main-nav__wrapper {
  @include visually-hidden;
  opacity: 0;

  transition: opacity 230ms ease-out;
}

.main-nav--opened .main-nav__wrapper {
  @include visually;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;

  width: 100vw;
  height: 100vh;

  background-color: rgba(#000, 0.75);

  opacity: 1;
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-nav__item {
  padding: 20px 0;

  a {
    font-family: $sf-ui-text-light;
    font-size: 0.8125rem;
    color: #fff;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    &::after {
      display: block;
      content: '';

      width: 100%;
      height: 1px;
      margin-top: 2px;

      background-color: transparent;

      transition: 140ms background-color ease-out;
    }

    &:hover::after {
      background-color: #fff;
    }
  }
}

@media (min-width: $table-width) {
  .main-nav__toggle {
    transform: scale(0.75);
  }

  .main-nav__item {
    a {
      font-size: 1rem;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-nav__toggle {
    @include visually-hidden;
  }

  .main-nav__wrapper {
    @include visually;
    opacity: 1;
  }

  .main-nav__list {
    flex-direction: row;
    height: auto;
  }

  .main-nav__item {
    padding: 7px 20px 3px;

    a {
      font-size: 1.25rem;
      color: #404040;

      transition: 140ms color ease-out;

      &:hover {
        color: #000;

        &::after {
          background-color: #000;
        }
      }
    }
  }
}
