.form {
  width: 100%;
}

.form__field {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__label {
  display: inline-block;
  margin-bottom: 4px;

  font-family: $sf-ui-text-regular;
  font-size: 14px;
  color: $gray-9;

}

.form__input,
.form__textarea,
.form__select {
  display: inline-block;
  box-sizing: border-box;


  width: 100%;

  border-width: 1px;
  border-style: solid;
  border-color: $gray-4;
  border-radius: 0;

  font-family: $sf-ui-text-light;
  font-size: 16px;
  color: $gray-9;

  transition: 130ms easy-out;
  transition-property: color, background-color, border-color;

  outline: 0;
  -webkit-appearance: none;

  &:hover {
    border-color: $gray-6;
  }

  &:focus {
    border-color: $gray-7;
  }

  &:disabled {
    background-color: $gray-2;
    color: $gray-4;

    &:hover {
      border-color: #ccc;
    }
  }
}

.form__input {
  height: 40px;
  padding: 0 6px;

  vertical-align: middle;
  line-height: 40px;
}

.form__textarea {
  max-width: 100%;
  padding: 4px 6px;
  vertical-align: top;
  overflow: auto;
}

.form__select {
  height: 40px;
  padding: 0 20px 0 6px;

  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2224%22%20height%3D%2216%22%20viewBox%3D%220%200%2024%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23666%22%20points%3D%2212%201%209%206%2015%206%22%3E%3C%2Fpolygon%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23666%22%20points%3D%2212%2013%209%208%2015%208%22%3E%3C%2Fpolygon%3E%0A%3C%2Fsvg%3E%0A");
  background-repeat: no-repeat;
  background-position: 100% 50%;
}

.form__radio {
  display: inline-block;
  box-sizing: border-box;
}

.form__radio input[type="radio"],
.form__checkbox input[type="checkbox"] {
  display: inline-block;

  width: 16px;
  height: 16px;
  margin-top: -4px;

  vertical-align: middle;

  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  border-width: 1px;
  border-style: solid;
  border-color: $gray-4;

  transition: 130ms ease-out;
  transition-property: background-image, border;

  overflow: hidden;
  -webkit-appearance: none;
  outline: 0;
}

.form__radio input[type="radio"] {
  border-radius: 50%;
}

.form__radio input:checked {
  border-color: $blue-5;
  background-image: url("data:image/svg+xml;base64,PHN2ZyBpZD0i0KHQu9C+0LlfMSIgZGF0YS1uYW1lPSLQodC70L7QuSAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiI+PGRlZnM+PHN0eWxlPi5jbHMtMXtmaWxsOiMzMjlhZjA7fS5jbHMtMntmaWxsOiNmOGY5ZmE7fTwvc3R5bGU+PC9kZWZzPjx0aXRsZT4xPC90aXRsZT48cmVjdCBjbGFzcz0iY2xzLTEiIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIvPjxjaXJjbGUgY2xhc3M9ImNscy0yIiBjeD0iOCIgY3k9IjgiIHI9IjQiLz48L3N2Zz4=");
}

.form__checkbox input:checked {
  border-color: $blue-5;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiI+PGRlZnM+PHN0eWxlPi5jbHMtMXtmaWxsOiMzMjlhZjA7fS5jbHMtMntmaWxsOiNmOGY5ZmE7c3Ryb2tlOiNmOGY5ZmE7c3Ryb2tlLW1pdGVybGltaXQ6MTA7c3Ryb2tlLXdpZHRoOjAuNzVweDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPjE8L3RpdGxlPjxnIGlkPSLQodC70L7QuV8xIiBkYXRhLW5hbWU9ItCh0LvQvtC5IDEiPjxwYXRoIGNsYXNzPSJjbHMtMSIgZD0iTTAsMFYxNkgxNlYwWk02LjI4LDEyLjkzLDcsMTIuMThaIi8+PC9nPjxnIGlkPSLQodC70L7QuV8yIiBkYXRhLW5hbWU9ItCh0LvQvtC5IDIiPjxyZWN0IGNsYXNzPSJjbHMtMiIgeD0iNC43IiB5PSI5IiB3aWR0aD0iMSIgaGVpZ2h0PSI0LjE1IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtNi4zMSA2LjkyKSByb3RhdGUoLTQ1KSIvPjxyZWN0IGNsYXNzPSJjbHMtMiIgeD0iNC41IiB5PSI4LjUiIHdpZHRoPSIxMCIgaGVpZ2h0PSIxIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMy41OCA5LjM1KSByb3RhdGUoLTQ1KSIvPjwvZz48L3N2Zz4=);
}
