// fonts
$heuristica-regular: 'Heuristica Regular';
$sf-ui-text-regular: 'San Francisco UI Text Regular';
$sf-ui-text-italic: 'San Francisco UI Text Italic';
$sf-ui-text-light: 'San Francisco UI Text Light';
$sf-ui-text-medium: 'San Francisco UI Text Medium';

$font-size: 16px;

// colors
$gray-2: #e9ecef;
$gray-4: #ced4da;
$gray-9: #212529;

$blue-5: #329af0;
$blue-6: #228ae6;
$blue-7: #1c7cd6;
$blue-9: #1862ab;

$red-6: #fa5252;
$red-8: #e03131;
$red-9: #c92a2a;
