// fonts
$heuristica-regular: 'Heuristica Regular';
$sf-ui-text-regular: 'San Francisco UI Text Regular';
$sf-ui-text-italic: 'San Francisco UI Text Italic';
$sf-ui-text-light: 'San Francisco UI Text Light';
$sf-ui-text-medium: 'San Francisco UI Text Medium';
